{% extends "base.html" %}
{% load staticfiles %}

{% block title %}3VRM Approach{% endblock %}


{% block content %}
<div class="desktop-visible">
	<ul class="menu menu-hover-lines">
		<li><a href="{% url "homepage" %}">Home</a></li>
		<li><a href="{% url "about" %}">About 3VRM</a></li>
		<li><a href="{% url "approach" %}">3VRM Approach</a></li>
		<li><a href="{% url "services" %}">3VRM Services</a></li>
		<li><a href="{% url "jobs" %}">Recruitment</a></li>
		<li class="active"><a href="{% url "news" %}">3VRM News</a></li>
		<li><a href="{% url "team" %}">3VRM Team</a></li>
		<li><a href="{% url "contactUs" %}">Contact Us</a></li>
	</ul>
</div>
</div>

<div class="container">
	<div class="desktop-visible">
		<div class="jobs" id="jobs-graphic-top">
			<a class="twitter-timeline" data-width="400" data-height="600" data-dnt="true" href="https://twitter.com/3_vrm/lists/latest-news?ref_src=twsrc%5Etfw">A Twitter List by 3_vrm</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
	<div class="jobs" id="jobs-intro">
		<div class="marketing-site-hero-content">
			<br>
			<h1>Latest News</h1>
			<p class="subheader">Visit regularly for the latest news and updates from 3VRM, our partners and leading Cyber Seurity experts</p>
			<br>
			<p class="subheader">Follow us on Twitter</p>
			<a class="twitter-follow-button" href="https://twitter.com/3_vrm">Follow @3_VRM</a>
			<br>
			<br>
			<p class="subheader">Or visit our LinkedIn page for up to date career opportunities</p>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
			<script type="IN/FollowCompany" data-id="18429675" data-counter="right"></script>
			<br>
		</div>
	</div>
	<div class="mobile-visible">
		<div class="jobs" id="jobs-graphic-top">
			<a class="twitter-timeline" data-width="400" data-height="600" data-dnt="true" href="https://twitter.com/3_vrm/lists/latest-news?ref_src=twsrc%5Etfw">A Twitter List by 3_vrm</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>

{% endblock %}