.desktop-visible {
  display: none;
}

/*background image */
body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background: url("../media/Background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}

/*header logo formatting */
#title-image {
  height: 40%;
  width: 40%;
}

.hero-section {
  border-style: groove;
  border-width: 2px;
  border-color: #2b4c93;
  background-size: cover;
  width: 100vw; 
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.button{
  background-color: #21388a;
}

/*menu bar formatting */

.title-bar-left, .title-bar-right {
  background-color: rgba(63, 81, 181, 0.18);
}
/*homepage formatting*/

.marketing-site-hero {
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

.subheader {
  color: #3a3939;
}

#homepage-graphic{
  padding: 10px;
}

.homepage h1{
  text-align: center;
}

.homepage p{
  text-align:justify;
}
/*services*/

#services-graphic{
  padding: 10px;
}

#services-text-bottom{
  padding: 10px;
}

.flip-card {


}

.disp-card{
  text-align: center;
  background: rgba(63, 81, 181, 0.28);
  border-radius: 25px;
  padding: 1rem;
  height: auto;
}

.disp-card h3{
  font-weight: bold;
}

.flip-card {
  width: 100%;
  height: auto;
  padding: 10px 15px 10px 15px;
  border: 0;
  background: transparent;
}


#risk{
  padding: 15px 15px 50px 15px;
}

/*Approach Page*/

#approach-graphic-top{
  padding: 10px;
}

.approach h1{
  text-align: center;
}

.approach p{
  text-align: justify;
}

#approach-graphic-bottom {
  padding: 20px 10px 20px 10px;
}

/*about page */
.about h1{
  text-align: center;
}

.about p, li, h4{
  text-align: justify;
}

#about-graphic-top{
  padding: 10px;
}

#about-graphic-breakdown{
  padding: 10px;
}

#about-graphic-bottom{
  padding: 20px 10px 20px 10px;
}

/* Recruitment */
#jobs-graphic-top{
  padding: 10px;
}

.jobs h1{
  text-align: center;
}

.jobs p{
  text-align: justify;
}

.jobs h3, h5{
  font-weight: bold;
}

/*team*/
.team-picture{
  padding: 10px;
}

/*contact*/

#contact-graphic-top{
  padding: 10px;
}


/*footer*/
footer{
background-color: rgba(189, 206, 221);
text-align: center;
}